- ui = this

.ui
  %pre.messages
    - each @messages, (message) ->
      = message
  .actions
    - each @actions, (action) ->
      - activeClass = -> "active" if action.active()
      .action(class=activeClass style="background-image: url(#{action.icon})")
        = action.name
        - on "click", ->
          - action.perform()
          - ui.actionPerformed()
