- ui = this

.ui
  - hiddenClass = Observable()
  .messages_container(class=hiddenClass)
    %pre.messages
      - each @messages, (message) ->
        = message
    .toggle
      - on "click", ->
        - debugger
        - if $(".messages_container").is(".hidden")
          - hiddenClass("")
        - else
          - hiddenClass("hidden")

  .actions
    - each @actions, (action) ->
      - activeClass = -> "active" if action.active()
      - disabledClass = -> "disabled" if action.disabled()
      .action(class=activeClass class=disabledClass style="background-image: url(#{action.icon})")
        .costs
          .container
            - cost = action?.ability?.actionCost() || 0
            - cost.times ->
              .cost
        = action.name
        - on "click", ->
          - unless action.disabled()
            - action.perform()
            - ui.actionPerformed()
